/** GERAL
**/
*{
    margin: 0px;
    padding: 0px;
    
}

.azul{
    color: #289dd2;
}

body{
    background-color:#f2f1ec;
}


header h1{
    font-size: 15em;
    display: inline;
}
header h2{
    font-size:3em;
    display: inline;
}
#texto-header{
    text-indent: -30000px;
    float: left;
}


#rodape{
    margin-top: 20px;
}
